/* .nav__bar {
  max-width: 1380px;
  height: 90px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-bottom: 14px;
}

.left__menu--content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.left__menu,
.right__menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #050038;
}

.en__content {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 5px;
}

.en-btn {
  width: 24px;
  height: 24px;
}

.signin__btn {
  padding: 17px 22.5px 17px 22px;
  border-radius: 24px;
  border: 1px solid #4262ff;
  background: #4262ff;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
} */
